# =========================

# Python

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# Virtual Environment

# =========================

venv/
.env/

# =========================

# VS Code

# =========================

.vscode/

# =========================

# Jupyter / Databricks

# =========================

.ipynb_checkpoints/

# =========================

# Logs

# =========================

*.log

# =========================

# Environment Variables

# =========================

.env

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db

# =========================

# GCP Credentials

# =========================

*.json

# =========================

# Temporary Files

# =========================

tmp/
temp/
